/* line 9, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/utils/_placeholders.scss */
.header-nav .logo, .slick-prev,
.slick-next {
  text-indent: -9999px;
  overflow: hidden; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* line 7, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
body {
  margin: 0; }

/* line 19, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

/* line 24, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
main {
  display: block; }

/* line 31, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
h1,
h2,
h3,
h4 {
  font-size: inherit; }

/* line 36, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
b,
strong {
  font-weight: bold; }

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 45, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
dfn {
  font-style: italic; }

/* line 50, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
a,
button {
  color: inherit; }

/**
 * Remove the gray background on active links in IE 10.
 */
/* line 59, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
a {
  text-decoration: none;
  background-color: transparent; }
  /* line 63, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
  a:hover,
  a:active {
    /**
         * Remove the outline on focused links when they are also active or hovered
         * in all browsers (opinionated).
         */
    outline-width: 0; }

/* line 72, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

/* line 82, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
::-moz-focus-inner {
  padding: 0;
  border: 0; }

/* line 87, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
:focus {
  outline: 0; }

/* line 91, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  border: 0; }

/**
 * Hide the overflow in IE.
 */
/* line 102, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
svg:not(:root) {
  overflow: hidden; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 128, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
article,
aside,
details, figcaption,
figure,
footer,
header,
main, menu,
nav,
section,
summary {
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
/* line 140, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
/* line 149, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 159, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 170, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
template, [hidden] {
  display: none; }

/* Forms
 ========================================================================== */
/**
* Remove the margin in Firefox and Safari.
*/
/* line 186, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button,
input,
select,
textarea {
  margin: 0; }

/**
* Restore the font weight unset by the previous rule.
*/
/* line 195, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
optgroup {
  font-weight: bold; }

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
* 2. Show the overflow in Edge, Firefox, and IE.
*/
/* line 208, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button,
input, select {
  /* 2 */
  overflow: visible; }

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
/* line 220, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button,
select {
  /* 1 */
  text-transform: none; }

/**
* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
*    controls in Android 4.
* 2. Correct the inability to style clickable types in iOS.
*/
/* line 238, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
* Remove the inner border and padding in Firefox.
*/
/* line 249, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
* Restore the focus styles unset by the previous rule.
*/
/* line 260, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
* Change the border, margin, and padding in all browsers (opinionated).
*/
/* line 269, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
/* line 283, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
* Remove the default vertical scrollbar in IE.
*/
/* line 303, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
textarea {
  overflow: auto; }

/**
* 1. Add the correct box sizing in IE 10-.
* 2. Remove the padding in IE 10-.
*/
/* line 314, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
/* line 327, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
* Correct the odd appearance of search inputs in Chrome and Safari.
*/
/* line 336, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
[type="search"] {
  -webkit-appearance: textfield; }

/**
* Remove the inner padding and cancel buttons in Chrome on OS X and
* Safari on OS X.
*/
/* line 347, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_reset.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
html {
  box-sizing: border-box; }

/* line 2, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 4, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
html {
  min-height: 100%; }

/* line 8, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
body {
  min-height: 100%;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 20, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
::selection {
  background: #6696ac;
  /* WebKit/Blink Browsers */
  color: #fff; }

/* line 25, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
::-moz-selection {
  background: #6696ac;
  /* Gecko Browsers */
  color: #fff; }

/* line 30, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.section {
  margin: 200px 240px 200px 100px;
  max-width: 1200px; }
  @media (max-width: 1000px) {
    /* line 30, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
    .section {
      margin: 100px 50px; } }
  @media (max-width: 700px) {
    /* line 30, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
    .section {
      margin: 60px 20px; } }

/* line 43, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.section-content {
  max-width: 640px; }
  /* line 46, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
  .section-content img {
    max-width: 1200px; }

/* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
img.alignnone {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: -120px;
  max-width: 1200px; }
  @media (max-width: 1000px) {
    /* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
    img.alignnone {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: -70px; } }
  @media (max-width: 700px) {
    /* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
    img.alignnone {
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: -40px; } }

/* line 70, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
img.aligncenter {
  margin: 100px auto;
  display: block; }

/* line 75, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
img.alignleft {
  float: left; }

/* line 79, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
img.alignright {
  float: right; }

/* line 84, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-phone {
  background-image: url("../img/svg/icon-phone.svg"); }

/* line 85, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-mail {
  background-image: url("../img/svg/icon-mail.svg"); }

/* line 86, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-twitter {
  background-image: url("../img/svg/icon-twitter.svg"); }

/* line 87, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-instagram {
  background-image: url("../img/svg/icon-instagram.svg"); }

/* line 88, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-skype {
  background-image: url("../img/svg/icon-skype.svg"); }

/* line 89, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-dribbble {
  background-image: url("../img/svg/icon-dribbble.svg"); }

/* line 90, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_base.scss */
.icon-linkedin {
  background-image: url("../img/svg/icon-linkedin.svg"); }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
body {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: normal;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.013em; }

/* line 10, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
a {
  color: #6696ac;
  font-weight: 700;
  text-decoration: underline;
  transition: color 200ms; }

/* line 21, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
h1 {
  color: #515f6d;
  font-weight: 700;
  font-size: 40px; }

/* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
h2 {
  margin-bottom: 20px;
  color: #515f6d;
  font-weight: 400;
  font-size: 22px; }

/* line 34, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
h3 {
  color: #515f6d;
  font-weight: 400;
  font-size: 18px; }

/* line 40, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
h4 {
  margin-bottom: 1.7em;
  color: #515f6d;
  font-weight: 700;
  font-size: 15px; }

/* line 47, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
p {
  margin-bottom: 1.7em;
  padding-left: 20px;
  line-height: 1.7; }

/* line 53, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.indent {
  margin-left: 1em; }

/* line 57, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.highlight {
  background-color: rgba(166, 187, 117, 0.5);
  font-style: italic; }

/* line 62, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
b, strong {
  font-weight: 700; }

/* line 66, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.yellow {
  color: #d8a55a; }

/* line 67, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.purple {
  color: #aa81ac; }

/* line 68, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.blue {
  color: #6696ac; }

/* line 69, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.orange {
  color: #d7734a; }

/* line 70, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.red {
  color: #d26d75; }

/* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.gray {
  color: #c0bcbb; }

/* line 72, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.green {
  color: #a6bb75; }

/* line 73, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/base/_typography.scss */
.dark {
  color: #515f6d; }

/*
.main {
	li {
		margin-bottom: 0.5em;
		padding-left: 1em;

		&:before {
			margin-left: -1em;
			width: 1em;
			display: inline-block;
			color: $color-secondary;
		}
	}

	ul, ol {
		margin-bottom: 1.5em;
	}

	ul {
		li:before {
			display: inline-block;
			content: "\2022";
		}
	}

	ol {
		counter-reset: item;

		li:before {
			content: counter(item) ". ";
			counter-increment: item;
		}
	}
}
*/
/* Slider */
/* line 2, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

/* line 21, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

/* line 31, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-list:focus {
  outline: none; }

/* line 35, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

/* line 42, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

/* line 60, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

/* line 66, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-track:after {
  clear: both; }

/* line 70, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-loading .slick-track {
  visibility: hidden; }

/* line 75, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

/* line 83, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
[dir='rtl'] .slick-slide {
  float: right; }

/* line 87, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slide img {
  display: block; }

/* line 91, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slide.slick-loading img {
  display: none; }

/* line 95, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-slide.dragging img {
  pointer-events: none; }

/* line 99, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-initialized .slick-slide {
  display: block; }

/* line 103, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-loading .slick-slide {
  visibility: hidden; }

/* line 107, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

/* line 115, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/vendor/_slick.scss */
.slick-arrow.slick-hidden {
  display: none; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.row {
  overflow: hidden; }

/* line 5, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.col25 {
  width: 25%; }

/* line 6, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.col33 {
  width: 33.3333%; }

/* line 7, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.col50 {
  width: 50%; }

/* line 8, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.col100 {
  width: 100%; }

/* line 13, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_grid.scss */
.col25,
.col33,
.col50,
.col100 {
  float: left; }

/* line 2, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_buttons.scss */
.button,
.button-wrap a {
  padding-left: 0;
  font-weight: 700;
  font-size: 16px; }
  /* line 7, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_buttons.scss */
  .button:after,
  .button-wrap a:after {
    padding-left: 10px;
    position: absolute;
    display: inline;
    content: ">"; }

/* line 15, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/components/_buttons.scss */
.button-wrap {
  font-size: 16px; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.mobile-toggle {
  padding: 10px;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 3;
  display: none; }
  @media (max-width: 1000px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .mobile-toggle {
      display: block; } }
  /* line 14, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.active .mobile-lines {
    opacity: 0;
    transform: scale(0.5); }
  /* line 19, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.active .burger1 {
    transform: rotate(45deg) translate(7px, 7px); }
  /* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.active .burger3 {
    transform: rotate(-45deg) translate(7px, -7px); }
  /* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.active .burger2 {
    opacity: 0; }
  /* line 33, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.jq-clipthru-clone .mobile-lines div {
    background-color: rgba(255, 255, 255, 0.5); }
  /* line 37, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-toggle.jq-clipthru-clone .mobile-burger div {
    background-color: #fff; }

/* line 43, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.mobile-lines {
  position: relative;
  transition: 200ms; }
  /* line 47, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines div {
    height: 4px;
    background-color: #c0bcbb;
    position: absolute; }
  /* line 53, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line1 {
    width: 7px;
    left: -11px; }
  /* line 58, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line2 {
    width: 9px;
    top: 10px;
    left: -13px; }
  /* line 64, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line3 {
    width: 9px;
    top: 0;
    right: -15px; }
  /* line 70, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line4 {
    width: 4px;
    top: 10px;
    right: -8px; }
  /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line5 {
    width: 8px;
    top: 10px;
    right: -20px; }
  /* line 82, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-lines .line6 {
    width: 10px;
    top: 20px;
    right: -14px; }

/* line 89, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.mobile-burger {
  margin: auto;
  width: 26px; }
  /* line 93, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-burger div {
    width: 100%;
    height: 4px;
    background-color: #515f6d;
    transition: 200ms; }
  /* line 100, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .mobile-burger .burger2 {
    margin: 6px 0; }

/* line 105, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.single-menu {
  display: none; }

/* line 110, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.single .header-nav .menu {
  display: none; }

/* line 113, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.single .header-nav .single-menu {
  display: block; }

/* line 118, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.header-nav {
  padding: 50px 40px;
  width: 240px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3; }
  @media (max-width: 1000px) {
    /* line 118, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .header-nav {
      padding: 40px 20px;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      visibility: hidden;
      transform: scale(1.1);
      transform-origin: top;
      transition: 200ms; }
      /* line 137, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
      .header-nav.jq-clipthru-clone {
        display: none; }
      /* line 141, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
      .header-nav.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1); } }
  /* line 148, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .admin-bar .header-nav {
    margin-top: 32px; }
  /* line 152, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .logo {
    margin-bottom: 50px;
    width: 100%;
    height: 54px;
    background: url("../img/svg/hoc-icon-color.svg") no-repeat;
    display: block; }
  /* line 162, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .menu,
  .header-nav .single-menu {
    list-style: none; }
  /* line 166, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .nav-item {
    margin-top: 25px;
    color: #515f6d;
    font-size: 18px; }
    /* line 171, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .header-nav .nav-item:before {
      width: 2em;
      float: left;
      font-weight: 400;
      font-size: inherit;
      opacity: 0.6; }
  /* line 180, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .menu {
    counter-reset: item; }
    /* line 184, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .header-nav .menu .nav-item:before {
      content: "0" counter(item);
      counter-increment: item; }
    /* line 189, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .header-nav .menu .nav-item:first-child a:after {
      content: "()";
      display: inline;
      color: #c0bcbb; }
    /* line 195, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
    .header-nav .menu .nav-item:last-child a:after {
      content: ";";
      display: inline;
      color: #c0bcbb; }
  /* line 203, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .single-nav-close:before {
    content: "x"; }
  /* line 204, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .single-nav-prev:before {
    content: "<"; }
  /* line 205, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .single-nav-next:before {
    content: ">"; }
  /* line 207, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .nav-link {
    display: block;
    color: inherit;
    font-weight: 700;
    text-decoration: none;
    overflow: hidden; }
  /* line 215, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
  .header-nav .active {
    color: #6696ac; }

/* line 222, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.header-nav.jq-clipthru-clone .logo,
.single-employee .logo {
  background-image: url("../img/svg/hoc-icon-white.svg"); }

/* line 225, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_header.scss */
.header-nav.jq-clipthru-clone .nav-item,
.single-employee .nav-item {
  color: #fff; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
footer {
  padding: 100px;
  background-color: #515f6d;
  position: relative;
  color: #fff; }
  @media (max-width: 1000px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
    footer {
      padding: 50px; } }
  @media (max-width: 700px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
    footer {
      padding: 60px 20px; } }
  @media (max-width: 700px) {
    /* line 15, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
    footer .col33 {
      margin-bottom: 60px;
      width: 100%;
      float: none; } }
  /* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
  footer .footer-content {
    max-width: 660px; }
  /* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
  footer h4 {
    color: #fff; }
  /* line 31, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
  footer p {
    padding-left: 0; }
  /* line 35, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
  footer a {
    color: #fff;
    font-weight: 400; }
  /* line 40, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
  footer ul {
    list-style: none;
    line-height: 1.7; }

/* line 46, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
#footer-logo {
  width: 164px;
  height: 69px;
  background: url("../img/svg/hoc-logo-white.svg") no-repeat;
  position: absolute;
  left: 70%;
  top: 100px; }
  @media (max-width: 1000px) {
    /* line 46, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_footer.scss */
    #footer-logo {
      margin: 100px auto 50px;
      position: static; } }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
#hero {
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/geil.png");
  position: relative; }
  /* line 9, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  .admin-bar #hero {
    height: calc(100vh - 32px); }
  /* line 13, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  .single #hero:before {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    content: ""; }
  /* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  #hero .section {
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  /* line 31, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  #hero .section-banner {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    bottom: 0; }
  /* line 39, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  #hero .banner-text {
    max-width: 660px; }

/* line 44, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
#tocontent {
  padding-bottom: 20px;
  background: url("../img/svg/arrow-down.svg") center bottom no-repeat;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none; }
  /* line 53, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_hero.scss */
  #tocontent span {
    color: #c0bcbb; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
.section-text {
  position: relative; }

/* line 6, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
.section-text-content {
  width: 50%;
  max-width: 380px; }
  /* line 10, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
  .section-text-content.text-wide {
    width: 100%;
    max-width: 660px; }
  @media (max-width: 700px) {
    /* line 6, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
    .section-text-content {
      width: 100%; } }

/* line 20, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
.section-text-icon {
  position: absolute;
  top: 0;
  left: 70%; }
  @media (max-width: 700px) {
    /* line 20, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
    .section-text-icon {
      width: 70%;
      margin: 0 auto 60px;
      position: static;
      text-align: center; } }

/* line 33, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-text.scss */
#bodymovin {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
.section-code {
  max-width: 800px;
  color: #515f6d;
  font-size: 40px; }
  @media (max-width: 1000px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
    .section-code {
      max-width: 450px;
      font-size: 30px; } }
  @media (max-width: 700px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
    .section-code {
      font-size: 20px; } }
  /* line 15, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
  .section-code p {
    margin: 0;
    padding: 0;
    line-height: 1.3; }

/* line 22, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
.code-heading {
  font-weight: 700; }

/* line 26, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
.code-text {
  padding-left: 1em; }

/* line 31, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-code.scss */
.code-start,
.code-end {
  color: #c0bcbb;
  font-weight: 400; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.section-grid {
  margin-bottom: 0; }
  /* line 4, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .section-grid .grid {
    margin-top: 50px;
    margin-left: -100px; }
    @media (max-width: 1000px) {
      /* line 4, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
      .section-grid .grid {
        margin-left: -50px;
        margin-right: -50px; } }
    @media (max-width: 700px) {
      /* line 4, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
      .section-grid .grid {
        margin-left: -20px;
        margin-right: -20px; } }
  /* line 19, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .section-grid .grid-heading {
    margin-bottom: 0; }
  /* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .section-grid p {
    margin-bottom: 10px; }
  /* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .section-grid .icon {
    margin-bottom: 15px;
    padding-left: 30px;
    width: 20px;
    height: 20px;
    background-position: left center;
    background-repeat: no-repeat;
    font-weight: 700;
    overflow: hidden;
    transition: width 200ms; }
    /* line 38, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .section-grid .icon:hover {
      width: 100%; }

/* line 44, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item {
  background-position: center;
  background-size: cover;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden; }
  @media (max-width: 1000px) {
    /* line 44, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item {
      width: 100%; } }
  /* line 55, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  /* line 62, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:hover .grid-hover {
    opacity: 1;
    transform: scale(1); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+1) {
    background-color: #d8a55a; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+1) .grid-hover {
      background-color: rgba(216, 165, 90, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+2) {
    background-color: #aa81ac; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+2) .grid-hover {
      background-color: rgba(170, 129, 172, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+3) {
    background-color: #6696ac; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+3) .grid-hover {
      background-color: rgba(102, 150, 172, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+4) {
    background-color: #d7734a; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+4) .grid-hover {
      background-color: rgba(215, 115, 74, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+5) {
    background-color: #d26d75; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+5) .grid-hover {
      background-color: rgba(210, 109, 117, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+6) {
    background-color: #c0bcbb; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+6) .grid-hover {
      background-color: rgba(192, 188, 187, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+7) {
    background-color: #a6bb75; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+7) .grid-hover {
      background-color: rgba(166, 187, 117, 0.5); }
  /* line 71, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-item:nth-child(8n+8) {
    background-color: #515f6d; }
    /* line 76, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-item:nth-child(8n+8) .grid-hover {
      background-color: rgba(81, 95, 109, 0.5); }

/* line 101, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-hover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  opacity: 0;
  transform: scale(1.1);
  transform-origin: left bottom;
  transition: 200ms; }
  @media (max-width: 1000px) {
    /* line 101, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-hover {
      opacity: 1;
      transform: scale(1); } }

/* line 117, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-content {
  padding: 30px;
  max-width: 350px;
  position: absolute;
  bottom: 0;
  color: #fff;
  font-weight: 400; }
  @media (max-width: 700px) {
    /* line 117, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-content {
      padding: 20px; } }

/* line 130, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-date {
  margin-bottom: 10px; }

/* line 134, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-heading {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 22px; }

/* line 140, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.yellow {
  background-color: #d8a55a; }

/* line 141, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.purple {
  background-color: #aa81ac; }

/* line 142, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.blue {
  background-color: #6696ac; }

/* line 143, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.orange {
  background-color: #d7734a; }

/* line 144, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.red {
  background-color: #d26d75; }

/* line 145, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.gray {
  background-color: #c0bcbb; }

/* line 146, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.green {
  background-color: #a6bb75; }

/* line 147, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-item.dark {
  background-color: #515f6d; }

/* line 149, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-controls {
  padding: 40px 100px;
  color: #738597;
  font-size: 22px; }
  /* line 154, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
  .grid-controls button {
    padding: 0;
    color: inherit;
    font-weight: 400;
    text-decoration: none; }
    /* line 160, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
    .grid-controls button.mixitup-control-active {
      color: #515f6d;
      font-weight: 700;
      text-decoration: underline; }

/* line 169, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-grid.scss */
.grid-container .grid-hover {
  opacity: 1;
  transform: scale(1); }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.section-slider {
  background-color: #515f6d;
  color: #fff;
  position: relative; }
  /* line 6, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .section-slider p {
    margin-bottom: 0; }

/* line 11, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.image-slide {
  min-height: 470px;
  max-height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #6696ac; }
  /* line 19, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .image-slide:after {
    padding-bottom: 56.25%;
    display: block;
    content: ""; }

/* line 26, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slider-text {
  width: 100%;
  max-width: 550px; }

/* line 33, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.section-project .slider-text,
.section-testimonial .slider-text {
  position: absolute;
  bottom: 0; }
  @media (max-width: 700px) {
    /* line 33, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .section-project .slider-text,
    .section-testimonial .slider-text {
      position: static; } }

/* line 43, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.gallery-slider .section-project .slider-text {
  position: static; }

/* line 47, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.testimonial-text {
  padding: 40px 0;
  position: relative;
  font-size: 20px;
  line-height: 1.3; }
  /* line 54, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .testimonial-text:before,
  .testimonial-text:after {
    position: absolute;
    font-size: 90px;
    line-height: 1; }
  /* line 59, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .testimonial-text:before {
    content: "\0201C";
    top: -15px;
    left: -40px; }
  /* line 64, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .testimonial-text:after {
    content: "\0201D";
    right: -30px;
    bottom: -40px; }
  @media (max-width: 700px) {
    /* line 47, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .testimonial-text {
      padding: 0 0 20px;
      font-size: 15px; }
      /* line 75, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
      .testimonial-text:before,
      .testimonial-text:after {
        content: none; } }

/* line 81, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.testimonial-name {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 16px; }

/* line 87, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.text-slide {
  padding-top: 30px;
  padding-bottom: 30px; }
  @media (max-width: 700px) {
    /* line 87, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .text-slide {
      padding-top: 20px; } }
  /* line 95, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .text-slide .button {
    margin-top: 20px;
    display: inline-block;
    color: #fff; }

/* line 103, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.text-slide,
.slider-nav {
  padding-right: 20px;
  padding-left: 100px; }
  @media (max-width: 1000px) {
    /* line 103, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .text-slide,
    .slider-nav {
      padding-left: 50px; } }
  @media (max-width: 700px) {
    /* line 103, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .text-slide,
    .slider-nav {
      padding-left: 20px; } }

/* line 116, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slide-heading {
  margin-bottom: 10px;
  color: #fff;
  font-weight: 700; }

/* line 122, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slider-nav {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff; }
  @media (max-width: 700px) {
    /* line 122, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .slider-nav {
      padding-bottom: 0;
      border-bottom: 0; } }
  /* line 134, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav ul:before,
  .slider-nav ul:after {
    display: inline;
    font-weight: 700; }
  /* line 138, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav ul:before {
    content: "("; }
  /* line 139, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav ul:after {
    content: ")"; }
  /* line 142, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav li {
    margin-right: 0.5em;
    display: inline-block; }
    /* line 146, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .slider-nav li:after {
      display: inline;
      content: ","; }
    /* line 151, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .slider-nav li:last-child {
      margin-right: 0; }
      /* line 154, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
      .slider-nav li:last-child:after {
        content: none; }
  /* line 160, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav button {
    padding: 0; }
  /* line 164, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slider-nav .slick-active button {
    border-bottom: 1px solid #fff;
    font-weight: 700; }

/* line 171, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slider-dots,
.slider-arrows {
  display: inline-block; }

/* line 175, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slider-arrows {
  margin-left: 10px; }
  @media (max-width: 700px) {
    /* line 175, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .slider-arrows {
      display: none; } }

/* line 184, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slick-prev,
.slick-next {
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 200ms; }
  /* line 191, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .slick-prev:hover,
  .slick-next:hover {
    opacity: 0.5; }

/* line 196, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slick-prev {
  background-image: url("../img/svg/arrow-left.svg"); }

/* line 197, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.slick-next {
  background-image: url("../img/svg/arrow-right.svg"); }

/* line 200, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.single-employee,
.single-gallery {
  background-color: #515f6d; }
  /* line 203, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .single-employee #footer,
  .single-gallery #footer {
    display: none; }

/* line 208, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.single-employee .slider-text {
  width: 60%;
  float: left; }
  @media (max-width: 1000px) {
    /* line 208, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .single-employee .slider-text {
      width: 100%;
      float: none; } }

/* line 218, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
html, body {
  height: 100%; }

/* line 222, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.small-gallery {
  height: 100%;
  background-color: #515f6d; }
  /* line 226, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .small-gallery ~ #footer {
    display: none; }

/* line 231, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.gallery {
  margin-top: 50px;
  margin-bottom: 50px; }
  /* line 235, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .small-gallery .gallery {
    margin-top: 0;
    padding-top: 50px;
    margin-bottom: 0;
    padding-bottom: 50px; }
  /* line 242, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .gallery .section-slider {
    margin-left: -100px; }
    @media (max-width: 1000px) {
      /* line 242, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
      .gallery .section-slider {
        margin-left: -50px; } }
    @media (max-width: 700px) {
      /* line 242, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
      .gallery .section-slider {
        margin-left: -20px;
        margin-right: -20px; } }
  /* line 255, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .gallery h2 {
    color: #fff; }

/* line 260, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.employee-info {
  padding-top: 15px;
  padding-left: 50px;
  width: 40%;
  background-color: #515f6d;
  float: left; }
  @media (max-width: 1000px) {
    /* line 260, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .employee-info {
      padding: 20px;
      width: 100%;
      float: none; } }
  /* line 273, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .employee-info ul {
    list-style: none; }
  /* line 277, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
  .employee-info li {
    margin-bottom: 15px;
    padding-left: 50px;
    background-position: left center;
    background-repeat: no-repeat; }

/* line 286, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
.employee-slider,
.gallery-slider {
  margin-left: -100px; }
  @media (max-width: 1000px) {
    /* line 286, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .employee-slider,
    .gallery-slider {
      margin-left: -50px;
      margin-right: -50px; } }
  @media (max-width: 700px) {
    /* line 286, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-slider.scss */
    .employee-slider,
    .gallery-slider {
      margin-left: -20px;
      margin-right: -20px; } }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
.section-banner {
  padding: 200px 100px 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #c0bcbb;
  display: block;
  color: #fff;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  @media (max-width: 1000px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .section-banner {
      padding: 100px 50px 50px; } }
  @media (max-width: 700px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .section-banner {
      padding: 40px 20px 20px; } }

/* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
.banner-date {
  font-size: 40px;
  font-weight: 700; }
  @media (max-width: 1000px) {
    /* line 27, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .banner-date {
      font-size: 30px; } }

/* line 36, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
.banner-heading {
  margin-bottom: 30px;
  font-size: 50px;
  font-weight: 700; }
  @media (max-width: 1000px) {
    /* line 36, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .banner-heading {
      margin-bottom: 10px;
      font-size: 30px; } }
  @media (max-width: 700px) {
    /* line 36, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .banner-heading {
      font-size: 20px; } }

/* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
.banner-text {
  margin-left: 0.5em;
  font-size: 40px; }
  @media (max-width: 1000px) {
    /* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .banner-text {
      font-size: 30px; } }
  @media (max-width: 700px) {
    /* line 51, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/modules/_section-banner.scss */
    .banner-text {
      font-size: 20px; } }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_frontpage.scss */
.sub-date {
  margin-bottom: 15px; }

/* line 5, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_frontpage.scss */
.blog-entry {
  margin-top: 40px;
  margin-bottom: 25px; }

/* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
.author {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  align-items: flex-end; }
  @media (max-width: 1000px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .author {
      margin-top: 100px;
      margin-bottom: 100px; } }
  @media (max-width: 700px) {
    /* line 1, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .author {
      margin-top: 60px;
      margin-bottom: 60px; } }
  /* line 17, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
  .author a {
    margin-left: 20px;
    color: #515f6d; }

/* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
.author-image {
  margin-right: 35px;
  width: 150px;
  height: 150px;
  background-color: #f1f1f1;
  float: left; }
  @media (max-width: 700px) {
    /* line 23, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .author-image {
      margin-right: 20px;
      width: 100px;
      height: 100px; } }

/* line 37, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
.author-content {
  overflow: hidden; }

/* line 41, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
.next-project {
  min-height: 700px; }
  @media (max-width: 700px) {
    /* line 41, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .next-project {
      min-height: 200px; } }

/* line 49, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
.job-highlight {
  padding: 200px 100px 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #6696ac;
  color: #fff; }
  @media (max-width: 1000px) {
    /* line 49, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .job-highlight {
      padding: 50px; } }
  @media (max-width: 700px) {
    /* line 49, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
    .job-highlight {
      padding: 30px 20px; } }
  /* line 65, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
  .job-highlight h2, .job-highlight a {
    color: inherit; }
  /* line 69, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_single.scss */
  .job-highlight .section-text-icon {
    display: none; }

/* line 3, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
.employees .grid-item:nth-child(5n+1),
.facts .grid-item:nth-child(5n+3) {
  clear: left; }

/* line 8, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
.fact-content {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff; }

/* line 15, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
.fact-heading {
  margin-bottom: 20px;
  font-size: 50px; }
  @media (max-width: 1100px) {
    /* line 15, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
    .fact-heading {
      font-size: 30px; } }

/* line 24, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
.fact-text {
  font-size: 20px; }
  @media (max-width: 1100px) {
    /* line 24, /Applications/MAMP/htdocs/hoc/wp-content/themes/hoc/app/scss/pages/_about.scss */
    .fact-text {
      font-size: 15px; } }

/*# sourceMappingURL=main.css.map */
