.yellow { color: #d8a55a; }
.purple { color: #aa81ac; }
.blue { color: #6696ac; }
.orange { color: #d7734a; }
.red { color: #d26d75; }
.gray { color: #c0bcbb; }
.green { color: #a6bb75; }
.dark { color: #515f6d; }

.indent {
	margin-left: 1em;
}

.button-wrap a {
	font-weight: 700;
}

.button-wrap a:after {
	padding-left: 10px;
	position: absolute;
	display: inline;
	content: ">";
}

.highlight {
	background-color: rgba(166, 187, 117, 0.5);
	font-style: italic;
}
