html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
	min-height: 100%;
}

body {
	min-height: 100%;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//svg path {
//	fill: inherit;
//	stroke: inherit;
//}

::selection {
	background: $color-blue; /* WebKit/Blink Browsers */
	color: #fff;
}

::-moz-selection {
	background: $color-blue; /* Gecko Browsers */
	color: #fff;
}

.section {
	margin: 200px 240px 200px 100px;
	max-width: 1200px;

	@include bp("tablet") {
		margin: 100px 50px;
	}

	@include bp("mobile") {
		margin: 60px 20px;
	}
}

.section-content {
	max-width: 640px;

	img {
		max-width: 1200px;
	}
}
img {
	&.alignnone {
		margin-top: 100px;
		margin-bottom: 100px;
		margin-left: -120px;
		max-width: 1200px;

		@include bp("tablet") {
			margin-top: 50px;
			margin-bottom: 50px;
			margin-left: -70px;
		}

		@include bp("mobile") {
			margin-top: 60px;
			margin-bottom: 60px;
			margin-left: -40px;
		}
	}

	&.aligncenter {
		margin: 100px auto;
		display: block;
	}

	&.alignleft {
		float: left;
	}

	&.alignright {
		float: right;
	}
}

.icon-phone { background-image: url("../img/svg/icon-phone.svg"); }
.icon-mail { background-image: url("../img/svg/icon-mail.svg"); }
.icon-twitter { background-image: url("../img/svg/icon-twitter.svg"); }
.icon-instagram { background-image: url("../img/svg/icon-instagram.svg"); }
.icon-skype { background-image: url("../img/svg/icon-skype.svg"); }
.icon-dribbble { background-image: url("../img/svg/icon-dribbble.svg"); }
.icon-linkedin { background-image: url("../img/svg/icon-linkedin.svg"); }
