body {
	color: #000;
	font-weight: 400;
	font-size: $font-size-p;
	line-height: normal;
	font-family: $font-base;
	letter-spacing: -0.013em;
}

a {
	color: $color-blue;
	font-weight: 700;
	text-decoration: underline;
	transition: color 200ms;

	&:hover {
		//
	}
}

h1 {
	color: $color-dark;
	font-weight: 700;
	font-size: $font-size-h1;
}

h2 {
	margin-bottom: 20px;
	color: $color-dark;
	font-weight: 400;
	font-size: $font-size-h2;
}

h3 {
	color: $color-dark;
	font-weight: 400;
	font-size: $font-size-h3;
}

h4 {
	margin-bottom: 1.7em;
	color: $color-dark;
	font-weight: 700;
	font-size: $font-size-h4;
}

p {
	margin-bottom: 1.7em;
	padding-left: 20px;
	line-height: 1.7;
}

.indent {
	margin-left: 1em;
}

.highlight {
	background-color: rgba($color-green, 0.5);
	font-style: italic;
}

b, strong {
	font-weight: 700;
}

.yellow { color: $color-yellow; }
.purple { color: $color-purple; }
.blue { color: $color-blue; }
.orange { color: $color-orange; }
.red { color: $color-red; }
.gray { color: $color-gray; }
.green { color: $color-green; }
.dark { color: $color-dark; }

/*
.main {
	li {
		margin-bottom: 0.5em;
		padding-left: 1em;

		&:before {
			margin-left: -1em;
			width: 1em;
			display: inline-block;
			color: $color-secondary;
		}
	}

	ul, ol {
		margin-bottom: 1.5em;
	}

	ul {
		li:before {
			display: inline-block;
			content: "\2022";
		}
	}

	ol {
		counter-reset: item;

		li:before {
			content: counter(item) ". ";
			counter-increment: item;
		}
	}
}
*/
