footer {
	padding: 100px;
	background-color: $color-dark;
	position: relative;
	color: #fff;

	@include bp("tablet") {
		padding: 50px;
	}

	@include bp("mobile") {
		padding: 60px 20px;
	}

	.col33 {
		@include bp("mobile") {
			margin-bottom: 60px;
			width: 100%;
			float: none;
		}
	}

	.footer-content {
		max-width: 660px
	}

	h4 {
		color: #fff;
	}

	p {
		padding-left: 0;
	}

	a {
		color: #fff;
		font-weight: 400;
	}

	ul {
		list-style: none;
		line-height: 1.7;
	}
}

#footer-logo {
	width: 164px;
	height: 69px;
	background: url("../img/svg/hoc-logo-white.svg") no-repeat;
	position: absolute;
	left: 70%;
	top: 100px;

	@include bp("tablet") {
		margin: 100px auto 50px;
		position: static;
	}
}
