.mobile-toggle {
	padding: 10px;
	position: fixed;
	top: 30px;
	right: 20px;
	z-index: $z-high;
	display: none;

	@include bp("tablet") {
		display: block;
	}

	&.active {
		.mobile-lines {
			opacity: 0;
			transform: scale(0.5);
		}

		.burger1 {
			transform: rotate(45deg) translate(7px, 7px);
		}

		.burger3 {
			transform: rotate(-45deg) translate(7px, -7px);
		}

		.burger2 {
			opacity: 0;
		}
	}

	&.jq-clipthru-clone {
		.mobile-lines div {
			background-color: rgba(#fff, 0.5);
		}

		.mobile-burger div {
			background-color: #fff;
		}
	}
}

.mobile-lines {
	position: relative;
	transition: 200ms;

	div {
		height: 4px;
		background-color: $color-gray;
		position: absolute;
	}

	.line1 {
		width: 7px;
		left: -11px;
	}

	.line2 {
		width: 9px;
		top: 10px;
		left: -13px;
	}

	.line3 {
		width: 9px;
		top: 0;
		right: -15px;
	}

	.line4 {
		width: 4px;
		top: 10px;
		right: -8px;
	}

	.line5 {
		width: 8px;
		top: 10px;
		right: -20px;
	}

	.line6 {
		width: 10px;
		top: 20px;
		right: -14px;
	}
}

.mobile-burger {
	margin: auto;
	width: 26px;

	div {
		width: 100%;
		height: 4px;
		background-color: $color-dark;
		transition: 200ms;
	}

	.burger2 {
		margin: 6px 0;
	}
}

.single-menu {
	display: none;
}

.single {
	.header-nav .menu {
		display: none;
	}
	.header-nav .single-menu {
		display: block;
	}
}

.header-nav {
	padding: 50px 40px;
	width: 240px;
	position: fixed;
	top: 0;
	right: 0;
	z-index: $z-high;

	@include bp("tablet") {
		padding: 40px 20px;
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		visibility: hidden;
		transform: scale(1.1);
		transform-origin: top;
		transition: 200ms;

		&.jq-clipthru-clone {
			display: none;
		}

		&.active {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
		}
	}

	.admin-bar & {
		margin-top: 32px;
	}

	.logo {
		@extend %hide-text;
		margin-bottom: 50px;
		width: 100%;
		height: 54px;
		background: url("../img/svg/hoc-icon-color.svg") no-repeat;
		display: block;
	}

	.menu,
	.single-menu {
		list-style: none;
	}

	.nav-item {
		margin-top: 25px;
		color: $color-dark;
		font-size: $font-size-h3;

		&:before {
			width: 2em;
			float: left;
			font-weight: 400;
			font-size: inherit;
			opacity: 0.6;
		}
	}

	.menu {
		counter-reset: item;

		.nav-item {
			&:before {
				content: "0" counter(item);
				counter-increment: item;
			}

			&:first-child a:after {
				content: "()";
				display: inline;
				color: $color-gray;
			}

			&:last-child a:after {
				content: ";";
				display: inline;
				color: $color-gray;
			}
		}
	}

	.single-nav-close:before { content: "x"; }
	.single-nav-prev:before { content: "<"; }
	.single-nav-next:before { content: ">"; }

	.nav-link {
		display: block;
		color: inherit;
		font-weight: 700;
		text-decoration: none;
		overflow: hidden;
	}

	.active {
		color: $color-blue;
	}
}

.header-nav.jq-clipthru-clone,
.single-employee {
	.logo {
		background-image: url("../img/svg/hoc-icon-white.svg");
	}
	.nav-item {
		color: #fff;
	}
}
