#hero {
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/geil.png");
	position: relative;

	.admin-bar & {
		height: calc(100vh - 32px);
	}

	.single &:before {
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		content: "";
	}

	.section {
		margin-top: 0;
		margin-bottom: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%)
	}

	.section-banner {
		width: 100%;
		height: 100%;
		background-color: transparent;
		position: absolute;
		bottom: 0;
	}

	.banner-text {
		max-width: 660px;
	}
}

#tocontent {
	padding-bottom: 20px;
	background: url("../img/svg/arrow-down.svg") center bottom no-repeat;
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	text-decoration: none;

	span {
		color: $color-gray;
	}
}
