.section-text {
//	margin: 200px 240px 200px 100px;
	position: relative;
}

.section-text-content {
	width: 50%;
	max-width: 380px;

	&.text-wide {
		width: 100%;
		max-width: 660px;
	}

	@include bp("mobile") {
		width: 100%;
	}
}

.section-text-icon {
	position: absolute;
	top: 0;
	left: 70%;

	@include bp("mobile") {
		width: 70%;
		margin: 0 auto 60px;
		position: static;
		text-align: center;
	}
}

#bodymovin {
	width: 30%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	z-index: $z-low;
}
