.section-grid {
	margin-bottom: 0;

	.grid {
		margin-top: 50px;
		margin-left: -100px;

		@include bp("tablet") {
			margin-left: -50px;
			margin-right: -50px;
		}

		@include bp("mobile") {
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	.grid-heading {
		margin-bottom: 0;
	}

	p {
		margin-bottom: 10px;
	}

	.icon {
		margin-bottom: 15px;
		padding-left: 30px;
		width: 20px;
		height: 20px;
		background-position: left center;
		background-repeat: no-repeat;
		font-weight: 700;
		overflow: hidden;
		transition: width 200ms;

		&:hover {
			width: 100%;
		}
	}
}

.grid-item {
	background-position: center;
	background-size: cover;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;

	@include bp("tablet") {
		width: 100%;
	}

	&:after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	&:hover {
		.grid-hover {
			opacity: 1;
			transform: scale(1);
		}
	}

	$colors-list: $color-yellow $color-purple $color-blue $color-orange $color-red $color-gray $color-green $color-dark;

	@each $current-color in $colors-list {
		$i: index($colors-list, $current-color);

		&:nth-child(8n+#{$i}) {
			background-color: $current-color;

			.grid-hover {
				background-color: rgba($current-color, 0.5);
			}
		}
	}

//	&:nth-child(8n+1) { background-color: rgba($color-yellow, 0.5); }
//	&:nth-child(8n+2) { background-color: rgba($color-purple, 0.5); }
//	&:nth-child(8n+3) { background-color: rgba($color-blue, 0.5); }
//	&:nth-child(8n+4) { background-color: rgba($color-orange, 0.5); }
//	&:nth-child(8n+5) { background-color: rgba($color-red, 0.5); }
//	&:nth-child(8n+6) { background-color: rgba($color-gray, 0.5); }
//	&:nth-child(8n+7) { background-color: rgba($color-green, 0.5); }
//	&:nth-child(8n+8) { background-color: rgba($color-dark, 0.5); }
//
//	&:nth-child(8n+1) .grid-hover { background-color: rgba($color-yellow, 0.5); }
//	&:nth-child(8n+2) .grid-hover { background-color: rgba($color-purple, 0.5); }
//	&:nth-child(8n+3) .grid-hover { background-color: rgba($color-blue, 0.5); }
//	&:nth-child(8n+4) .grid-hover { background-color: rgba($color-orange, 0.5); }
//	&:nth-child(8n+5) .grid-hover { background-color: rgba($color-red, 0.5); }
//	&:nth-child(8n+6) .grid-hover { background-color: rgba($color-gray, 0.5); }
//	&:nth-child(8n+7) .grid-hover { background-color: rgba($color-green, 0.5); }
//	&:nth-child(8n+8) .grid-hover { background-color: rgba($color-dark, 0.5); }
}

.grid-hover {
	width: 100%;
	height: 100%;
	background-color: rgba(#000, 0.5);
	position: absolute;
	opacity: 0;
	transform: scale(1.1);
	transform-origin: left bottom;
	transition: 200ms;

	@include bp("tablet") {
		opacity: 1;
		transform: scale(1);
	}
}

.grid-content {
	padding: 30px;
	max-width: 350px;
	position: absolute;
	bottom: 0;
	color: #fff;
	font-weight: 400;

	@include bp("mobile") {
		padding: 20px;
	}
}

.grid-date {
	margin-bottom: 10px;
}

.grid-heading {
	margin-bottom: 15px;
	font-weight: 700;
	font-size: $font-size-h2;
}

.grid-item.yellow { background-color: $color-yellow; }
.grid-item.purple { background-color: $color-purple; }
.grid-item.blue { background-color: $color-blue; }
.grid-item.orange { background-color: $color-orange; }
.grid-item.red { background-color: $color-red; }
.grid-item.gray { background-color: $color-gray; }
.grid-item.green { background-color: $color-green; }
.grid-item.dark { background-color: $color-dark; }

.grid-controls {
	padding: 40px 100px;
	color: lighten($color-dark, 15%);
	font-size: $font-size-h2;

	button {
		padding: 0;
		color: inherit;
		font-weight: 400;
		text-decoration: none;

		&.mixitup-control-active {
			color: $color-dark;
			font-weight: 700;
			text-decoration: underline;
		}
	}
}

.grid-container {
	.grid-hover {
		opacity: 1;
		transform: scale(1);
	}
}
