.section-code {
	max-width: 800px;
	color: $color-dark;
	font-size: $font-size-h1;

	@include bp("tablet") {
		max-width: 450px;
		font-size: 30px;
	}

	@include bp("mobile") {
		font-size: 20px;
	}

	p {
		margin: 0;
		padding: 0;
		line-height: 1.3;
	}
}

.code-heading {
	font-weight: 700;
}

.code-text {
	padding-left: 1em;
}

.code-start,
.code-end {
	color: $color-gray;
	font-weight: 400;
}
