.section-banner {
	padding: 200px 100px 150px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: $color-gray;
	display: block;
	color: #fff;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;

	@include bp("tablet") {
		padding: 100px 50px 50px;
	}

	@include bp("mobile") {
		padding: 40px 20px 20px;
	}
}

.banner-content {
//	max-width: 650px;
}

.banner-date {
	font-size: 40px;
	font-weight: 700;

	@include bp("tablet") {
		font-size: 30px;
	}
}

.banner-heading {
	margin-bottom: 30px;
	font-size: 50px;
	font-weight: 700;

	@include bp("tablet") {
		margin-bottom: 10px;
		font-size: 30px;
	}

	@include bp("mobile") {
		font-size: 20px;
	}
}

.banner-text {
	margin-left: 0.5em;
	font-size: 40px;

	@include bp("tablet") {
		font-size: 30px;
	}

	@include bp("mobile") {
		font-size: 20px;
	}
}
