.section-slider {
	background-color: $color-dark;
	color: #fff;
	position: relative;

	p {
		margin-bottom: 0;
	}
}

.image-slide {
	min-height: 470px;
	max-height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $color-blue;

	&:after {
		padding-bottom: 56.25%;
		display: block;
		content: "";
	}
}

.slider-text {
	width: 100%;
	max-width: 550px;
}

.section-project,
.section-testimonial {
	.slider-text {
		position: absolute;
		bottom: 0;

		@include bp("mobile") {
			position: static;
		}
	}
}

.gallery-slider .section-project .slider-text {
	position: static;
}

.testimonial-text {
	padding: 40px 0;
	position: relative;
	font-size: 20px;
	line-height: 1.3;

	&:before,
	&:after {
		position: absolute;
		font-size: 90px;
		line-height: 1;
	}
	&:before {
		content: "\0201C";
		top: -15px;
		left: -40px;
	}
	&:after {
		content: "\0201D";
		right: -30px;
		bottom: -40px;
	}

	@include bp("mobile") {
		padding: 0 0 20px;
		font-size: $font-size-p;

		&:before,
		&:after {
			content: none;
		}
	}
}

.testimonial-name {
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 16px;
}

.text-slide {
	padding-top: 30px;
	padding-bottom: 30px;

	@include bp("mobile") {
		padding-top: 20px;
	}

	.button {
		margin-top: 20px;
		display: inline-block;
		color: #fff;
	}
}

.text-slide,
.slider-nav {
	padding-right: 20px;
	padding-left: 100px;

	@include bp("tablet") {
		padding-left: 50px;
	}

	@include bp("mobile") {
		padding-left: 20px;
	}
}

.slide-heading {
	margin-bottom: 10px;
	color: #fff;
	font-weight: 700;
}

.slider-nav {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #fff;

	@include bp("mobile") {
		padding-bottom: 0;
		border-bottom: 0;
	}

	ul {
		&:before,
		&:after {
			display: inline;
			font-weight: 700;
		}
		&:before { content: "("; }
		&:after { content: ")"; }
	}

	li {
		margin-right: 0.5em;
		display: inline-block;

		&:after {
			display: inline;
			content: ",";
		}

		&:last-child {
			margin-right: 0;

			&:after {
				content: none;
			}
		}
	}

	button {
		padding: 0;
	}

	.slick-active button {
		border-bottom: 1px solid #fff;
		font-weight: 700;
	}
}

.slider-dots,
.slider-arrows {
	display: inline-block;
}

.slider-arrows {
	margin-left: 10px;

	@include bp("mobile") {
		display: none;
	}
}

.slick-prev,
.slick-next {
	@extend %hide-text;
	width: 30px;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 200ms;

	&:hover {
		opacity: 0.5;
	}
}

.slick-prev { background-image: url("../img/svg/arrow-left.svg"); }
.slick-next { background-image: url("../img/svg/arrow-right.svg"); }

.single-employee,
.single-gallery {
	background-color: $color-dark;

	#footer {
		display: none;
	}
}

.single-employee .slider-text {
	width: 60%;
	float: left;

	@include bp("tablet") {
		width: 100%;
		float: none;
	}
}

html, body {
	height: 100%;
}

.small-gallery {
	height: 100%;
	background-color: $color-dark;

	~ #footer {
		display: none;
	}
}

.gallery {
	margin-top: 50px;
	margin-bottom: 50px;

	.small-gallery & {
		margin-top: 0;
		padding-top: 50px;
		margin-bottom: 0;
		padding-bottom: 50px;
	}

	.section-slider {
		margin-left: -100px;

		@include bp("tablet") {
			margin-left: -50px;
		}

		@include bp("mobile") {
			margin-left: -20px;
			margin-right: -20px;
		}
	}

	h2 {
		color: #fff;
	}
}

.employee-info {
	padding-top: 15px;
	padding-left: 50px;
	width: 40%;
	background-color: $color-dark;
	float: left;

	@include bp("tablet") {
		padding: 20px;
		width: 100%;
		float: none;
	}

	ul {
		list-style: none;
	}

	li {
		margin-bottom: 15px;
		padding-left: 50px;
		background-position: left center;
		background-repeat: no-repeat;
	}
}

.employee-slider,
.gallery-slider {
	margin-left: -100px;

	@include bp("tablet") {
		margin-left: -50px;
		margin-right: -50px;
	}

	@include bp("mobile") {
		margin-left: -20px;
		margin-right: -20px;
	}
}
