$color-yellow: #d8a55a;
$color-purple: #aa81ac;
$color-blue: #6696ac;
$color-orange: #d7734a;
$color-red: #d26d75;
$color-gray: #c0bcbb;
$color-green: #a6bb75;
$color-dark: #515f6d;

$font-heading: "Roboto Mono", monospace;
$font-base: "Roboto Mono", monospace;

$font-size-h1: 40px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 15px;
$font-size-p: 15px;

$z-background: 0;
$z-low: 1;
$z-medium: 2;
$z-high: 3;
$z-overlay: 4;
