.button,
.button-wrap a {
	padding-left: 0;
	font-weight: 700;
	font-size: 16px;

	&:after {
		padding-left: 10px;
		position: absolute;
		display: inline;
		content: ">";
	}
}

.button-wrap {
	font-size: 16px;
}
