.grid-item {
	.employees &:nth-child(5n+1),
	.facts &:nth-child(5n+3) {
		clear: left;
	}
}

.fact-content {
	padding: 20px;
	position: absolute;
	bottom: 0;
	color: #fff;
}

.fact-heading {
	margin-bottom: 20px;
	font-size: 50px;

	@include bp("laptop") {
		font-size: 30px;
	}
}

.fact-text {
	font-size: 20px;

	@include bp("laptop") {
		font-size: 15px;
	}
}
