.author {
	margin-top: 200px;
	margin-bottom: 200px;
	display: flex;
	align-items: flex-end;

	@include bp("tablet") {
		margin-top: 100px;
		margin-bottom: 100px;
	}

	@include bp("mobile") {
		margin-top: 60px;
		margin-bottom: 60px;
	}

	a {
		margin-left: 20px;
		color: $color-dark;
	}
}

.author-image {
	margin-right: 35px;
	width: 150px;
	height: 150px;
	background-color: #f1f1f1;
	float: left;

	@include bp("mobile") {
		margin-right: 20px;
		width: 100px;
		height: 100px;
	}
}

.author-content {
	overflow: hidden;
}

.next-project {
	min-height: 700px;

	@include bp("mobile") {
		min-height: 200px;
	}
}

.job-highlight {
	padding: 200px 100px 50px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: $color-blue;
	color: #fff;

	@include bp("tablet") {
		padding: 50px;
	}

	@include bp("mobile") {
		padding: 30px 20px;
	}

	h2, a {
		color: inherit;
	}

	.section-text-icon {
		display: none;
	}
}
